<html>
  <head>
    <title>Multi</title>

    <style>
    td{
      border: 1px solid red;
    }
    </style>

  </head>

  <body>

      <% Fulltable.new().fulltable.each do |line| %>
      <table style="float: left">
        <tr>
          <th>Multinam</th>
        </tr>
      <% line.each do |number| %>
        <tr>
          <td>
            <%= line[0] %> * <%= number / line[0] %> = <%= number %>
          </td>
        </tr>
        <% end %>
          </table>
        <% end %>
